{
  "prod": {
    "mode": "production",
    "AZURE_CLIENT_ID": "",
    "AZURE_IDENTITY_METADATA": "",
    "AZURE_REDIRECT_URI": "",
    "AZURE_POSTLOGOUT_REDIRECT_URI": "",
    "BROWSER_CACHE_LOCATION": "",
    "BACKEND_API_URI": "",
    "BACKEND_API_SCOPE": ""
  },
  "dev": {
    "AZURE_CLIENT_ID": "",
    "AZURE_IDENTITY_METADATA": "",
    "AZURE_REDIRECT_URI": "",
    "AZURE_POSTLOGOUT_REDIRECT_URI": "",
    "BROWSER_CACHE_LOCATION": "",
    "BACKEND_API_URI": "",
    "BACKEND_API_SCOPE": ""
  }
}
